[Unit]
Description=Ccxc Backend

[Service]
ExecStart=/var/www/ccxc-backend/ccxc-backend
Restart=always
Environment=PATH=/usr/bin:/usr/local/bin:/usr/local/node/bin
WorkingDirectory=/var/www/ccxc-backend/

[Install]
WantedBy=multi-user.target
